.container {

	height: 50vh;
	width: 80vh;
	position: relative;
}

.slider {
	height: 110vh;
	display: flex;
	align-items: center;
	margin: auto;
	width: 60%;
}

.container-buttons {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}