h1, h2, h3, p, li{
    font-family : "Montserrat", sans-serif !important;
}
.CvBackground{
    min-height: 100vh;
}
.mainContainer{
    position: relative;
    width: 1792px;
    padding-bottom: 120px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-image: url("./images/img_3.png");
    background-repeat: no-repeat;
    background-size: 1246px auto;
    background-position-x: right;
    background-position-y: 444px;
    margin: 0 auto;
    z-index: 10;
}
.header-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 1792px;
    height: 312px;
    z-index: -1;
}
.header-text{
    padding : 0;
    margin : 0;
    color : white;
}
.image-container{
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-size: 100%;
    /* background-position-x: 20px; */
    background-repeat: no-repeat;
    /* background-color: #F6F6F6; */
}

.sectionName{
    display: flex;
    justify-content: space-between;
}

.textAlignRight {
    text-align: right;
}
.textAlignLeft{
    text-align: left;
}
.topic{
    padding: 0 0 32px 0;
    margin: 0;
    color: black;
    font-size: 24px;
    font-weight: 900;
}
.sub-topic{
    padding: 0 0 9px 0;
    margin: 0;
    color: #08A202;
    font-size: 18px;
    font-weight: 900;
}
.text-secondary{
    padding: 0 0 16px 0;
    margin: 0;
    color: black;
    font-size: 16px;
    word-wrap:break-word;
}
.sub-topic-secondary{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.sub-topic-secondary > h2{
    padding: 0 12px 0 0;
    margin: 0;
    color: black;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}
.sub-topic-secondary > h3{
    padding: 4px 8px;
    margin: 0;
    border-radius: 100px;
    background-color: #08A2021A;
    color: #08A202;
    font-weight: 400;
    font-size: 12px;
}
.text-list{
    padding: 0 0 16px 20px;
    margin: 0;
    color: black;
    font-size: 16px;
}
.location{
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}
.location > span{
    margin-right: 7px;
    font-size: 16px;
    color: #08A202;
}
.location > h3{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    color: #0C0C0C80;
}
.Languages{
    display: inline-block;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}
.downloadButton {
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
}